<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>🐍 Snake Species Classifier</title>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>🐍 Snake Species Classifier</h1>
  <p>Bir yılan görseli yükle ve modelin tahminini gör!</p>

  <div class="upload-box">
    <input type="file" id="fileInput" accept="image/*">
    <br><br>
    <button onclick="predict()">Tahmin Et</button>
  </div>

  <div id="result"></div>

  <!-- 🔥 Akordiyon alanı -->
  <div id="accordionArea" style="margin-top: 30px;"></div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
